/* body {
  background-image: url('../../assets/imgs/HANU003.jpg');
  width: 98vw;
  height: 98vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

} */

/* video{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 98vw;
  height: 98vh;
} */

.transition-opacity {
  /* transition-property: opacity; */
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  transition-duration: 5s !important;
}